
.column.border-right{
    border-right: 1px solid $color-gray-light-300;
}

.border-bottom{
    border-bottom: 1px solid $color-gray-light-300;
}

// =========================== UTILS ===========================
.cursor-pointer{
    cursor: pointer;
}