/** LOG IN **/

.page-login {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/images/login-background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/** SIGN IN **/

.page-signin {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/images/login-background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/** VALID IN **/

.page-validin {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/images/login-background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/** PASSWORD FORGOT **/

.page-pw_forgot {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/images/login-background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/** PASSWORD RESET **/

.page-pw_reset {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/images/login-background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
